{% extends 'layout/home.html.twig' %}

{% block main %}
    <div class="main-side">
        <div class="wrapper">
            <section class="categories hi-icon-wrap hi-icon-effect-8">
                {% for structure in structuresForHomePage %}
                    {% if structure.alias == 'laminate' %}
                        {% set icon = 'icon-parquet' %}
                    {% elseif structure.alias == 'furniture' %}
                        {% set icon = 'icon-armchair-silhouette' %}
                    {% else %}
                        {% set icon = 'icon-icon' %}
                    {% endif %}

                    <a href="{{ path('category', {'alias': structure.alias }) }}" class="category hi-icon">
                        <div class="category__content">
                            <div class="category__icon {{ icon }}"></div>
                            <div class="category__title">
                                {{ structure.langCurrent.name }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </section>

            <div class="copyrights">
                {{ 'copyrights'|trans }}, {{ "now"|date('Y') }}
            </div>
        </div>
    </div>
{% endblock %}