{% extends 'layout/content-item.html.twig' %}

{% block style %}

    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css">

    <link rel="stylesheet" href="/css/products-list.css">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
    {{ parent() }}
{% endblock javascripts %}

{% block sidebar %}
    {% include 'block/sidebar-with-filter.html.twig' %}
{% endblock sidebar %}

{% block main_inner %}
    <section class="content-wrapper">
        <div class="content content-cms">

            <h1>{{ structure.lang.name }}</h1>

            {% block mobile_filter %}
                <div class="filter-mobile" id="js_mobile-filter">
                    <div class="filter-mobile__title">
                        Фільтр
                    </div>
                    <div class="filter-mobile__close-btn" id="js_mobile-filter-close"></div>

                    <div class="filter-mobile__content empty" id="js_mobile-filter-content"></div>
                </div>
            {% endblock mobile_filter %}

            {% block products_inner %}
                <section class="products">
                    <div class="breadcrumbs">
                        <a href="#" class="breadcrumbs__link">
                            Головна
                        </a>
                        //
                        <a href="#" class="breadcrumbs__link">
                            Каталог товарів
                        </a>
                        //
                        <a href="#" class="breadcrumbs__link active">
                            Ламінат
                        </a>
                    </div>

                    {% block products_list %}

                        {% for product in products %}
                            <a href="#" class="product">
                                <div class="product__image" style="background-image: url('{{ productImagesPath ~ '/' ~ product.image }}')"></div>
                                <div class="product__description">
                                    <h4 class="product__name">
                                        {{ product.lang.name }}
                                    </h4>
                                    <ul class="product__attributes">
                                        {% for attributeValue in product.productAttributesValues %}
                                            <li class="product__attribute">
                                                {{ attributeValue.attribute.lang.name }} -
                                                {{ attributeValue.value }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="product__code">
                                        {{ product.code }}
                                    </div>
                                    <div class="product__price">
                                        {{ product.price }}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                    {% endblock products_list %}


                    <div class="share">
                        <div class="share__title">
                            поділитись
                        </div>
                        <div class="share__icons">
                            <a href="#" class="share__icon share__icon--twitter"></a>
                            <a href="#" class="share__icon share__icon--google"></a>
                            <a href="#" class="share__icon share__icon--facebook"></a>
                        </div>
                    </div>
                </section>

                <div class="pagination">
                    <div class="pagination__wrapper">
                        <a href="#" class="pagination__item pagination__item--previous pagination__item--disabled"><</a>

                        <a href="#" class="pagination__item pagination__item--current">1</a>
                        <a href="#" class="pagination__item">2</a>
                        <a href="#" class="pagination__item">3</a>
                        <a href="#" class="pagination__item pagination__item--disabled">...</a>
                        <a href="#" class="pagination__item">10</a>

                        <a href="#" class="pagination__item pagination__item--next">></a>
                    </div>
                </div>
            {% endblock products_inner %}

        </div>
    </section>
{% endblock main_inner %}