{% extends 'layout/content-item.html.twig' %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/slick.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/product.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <script src="{{ asset('js/jquery.magnific-popup.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    {{ parent() }}
{% endblock javascripts %}

{% block main_inner %}
    <section class="content-wrapper">
        <div class="content content-cms">

            <h1>{{ product.langCurrent.name }}</h1>
            <section class="product-inner">
                <div class="product-content">

                    <div class="product-content__top-block">
                        <div class="product-content__slider">
                            <div class="slick-slider-for simple-popup-parent">
                                {% for image in product.images %}
                                    <a href="{{ vich_uploader_asset(image, 'imageFile') }}" data-popup-title="product image - {{ loop.index }}" class="slick-slide simple-popup" style="background: url('{{ vich_uploader_asset(image, 'imageFile') }}') no-repeat center;"></a>
                                {% endfor %}
                            </div>
                            <div class="slick-slider-nav">
                                {% for image in product.images %}
                                    <div class="slick-slide slick-slide--small" style="background: url('{{ vich_uploader_asset(image, 'imageFile') }}') no-repeat center;"></div>
                                {% endfor %}
                            </div>
                            <div class="product-content__register product-content__register--after-slider" data-href="{{ path('order', {'_locale': currentLanguage.iso2}) }}">
                                {{ 'Реєстрація на монтаж'|trans }}
                            </div>
                        </div>

                        <div class="product-content__description">

                            <div class="product-content__basics">
                                <div class="product-content__price">
                                    {{ product.price }} <pre class="product-content__price-cod">{{ 'грн/м2'|trans }}</pre>
                                </div>
                                <div class="product-content__article">
                                    {{ product.code }}
                                </div>
                            </div>

                            <div class="product-content__register" data-href="{{ path('order', {'_locale': currentLanguage.iso2}) }}">
                                {{ 'Реєстрація на монтаж'|trans }}
                            </div>


                            <div class="product-content__delivery">
                                {{ include('includes/delivery-text.html.twig') }}
                            </div>



                        </div>
                    </div>

                    <div class="product-content__tabs-head product-content__tabs-head--mobile-additional-block">
                        <div class="product-content__tabs-btn" data-id="3">
                            {{ 'Доставка і оплата'|trans }}
                            <div class="product-content__delivery product-content__tabs-content-item" id="js_tabs-element-3">
                                {{ include('includes/delivery-text.html.twig') }}
                            </div>
                        </div>
                    </div>

                    <div class="product-content__tabs-block">
                        <div class="product-content__tabs-head">
                            {% if product.langCurrent.description is not empty %}
                                <div class="product-content__tabs-btn active" data-id="1">
                                    {{ 'Опис товару'|trans }}
                                </div>
                            {% endif %}
                            <div class="product-content__tabs-btn{% if product.langCurrent.description is empty %} active{% endif %}" data-id="2">
                                {{ 'Характеристики'|trans }}
                            </div>
                        </div>
                        <div class="product-content__tabs-content-block">
                            {% if product.langCurrent.description is not empty %}
                                <div class="product-content__tabs-content-item active" id="js_tabs-element-1">
                                    {{ product.langCurrent.description|raw }}
                                </div>
                            {% endif %}

                            <div class="product-content__tabs-content-item{% if product.langCurrent.description is empty %} active{% endif %}" id="js_tabs-element-2">
                                <div class="table-simple">
                                    <!--.table-simple__column-->

                                    {% for attr in product.productAttributesValues %}
                                        <div class="table-simple__row">
                                            <div class="table-simple__cell">
                                                {{ attr.attribute.langCurrent.name }}
                                            </div>
                                            <div class="table-simple__cell">
                                                {{ attr.value|trans }}
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>

                    {#<a href="#" class="product-content__link-to-actions">#}
                        {#{{ 'Вигідні пропозиції'|trans }}#}
                    {#</a>#}

                </div>
            </section>
        </div>
    </section>
{% endblock main_inner %}