<p class="product-content__delivery-title">
    {{ 'Вартість доставки'|trans }}:
</p>
<p class="product-content__delivery-text">
    - {{ 'по Україні - Ви можете дізнатись у оператора, подзвонив до нашого'|trans }}
    <a href="{{ path('contacts', {'_locale': currentLanguage.iso2, 'alias': 'contacts'}) }}" class="product-content__delivery-text-link">{{ 'контакт-центру'|trans }}</a>. <br>
    - {{ 'Доставка - Бескоштовно'|trans }}
</p>
<p class="product-content__delivery-title">
    {{ 'Способи розрахунку'|trans }}:
</p>
<p class="product-content__delivery-text">
    {{ 'готівковий, безготівковий'|trans }}
</p>